Json-Flows.json
[
    {
        "id": "a219c882.1c6e28",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37a44bd5.563874",
        "type": "ibmiot in",
        "z": "a219c882.1c6e28",
        "authentication": "apiKey",
        "apiKey": "ff7ef582.3db858",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "fec3d340.992a7"
            ]
        ]
    },
    {
        "id": "fec3d340.992a7",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "Text",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "e970a89a.d07148"
            ]
        ]
    },
    {
        "id": "e970a89a.d07148",
        "type": "debug",
        "z": "a219c882.1c6e28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "a0e2bd76.07e1d",
        "type": "ibmiot in",
        "z": "a219c882.1c6e28",
        "authentication": "apiKey",
        "apiKey": "ff7ef582.3db858",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1010",
        "applicationId": "",
        "deviceType": "IOTDEVICE",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "2f589382.64877c",
                "ef9ddef8.fab01",
                "a18a26c4.5e57f8",
                "f36310a5.2e03f",
                "54abb40d.30aa8c",
                "6c94f42.fca6e0c",
                "9d59ccd7.4013",
                "ed6e477c.0d7518"
            ]
        ]
    },
    {
        "id": "2f589382.64877c",
        "type": "debug",
        "z": "a219c882.1c6e28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "35a0c457.e7103c",
        "type": "ui_toast",
        "z": "a219c882.1c6e28",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "ef9ddef8.fab01",
        "type": "cloudant out",
        "z": "a219c882.1c6e28",
        "name": "",
        "cloudant": "",
        "database": "location",
        "service": "node-red-ffzck-2021--cloudant-1620812481784-81812",
        "payonly": false,
        "operation": "insert",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "a18a26c4.5e57f8",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "hgoods",
        "func": "global.set('hgoods',msg.payload.hgoods)\nreturn{payload:msg.payload.hgoods}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "68db31a2.6139a",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "f36310a5.2e03f",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "hdairy",
        "func": "\nglobal.set('hdairy',msg.payload.hdairy)\nreturn{payload:msg.payload.hdairy}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "5ba8f482.bf0c7c",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "54abb40d.30aa8c",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "hegoods",
        "func": "global.set('hegoods',msg.payload.hegoods)\nreturn{payload:msg.payload.hegoods}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470.01422119140625,
        "y": 491.00567626953125,
        "wires": [
            [
                "825dc96e.e67bf8",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "6c94f42.fca6e0c",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "agoods",
        "func": "global.set('agoods',msg.payload.agoods)\nreturn{payload:msg.payload.agoods}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 476.01422119140625,
        "y": 551.0056762695312,
        "wires": [
            [
                "222c96b8.26bcca",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "9d59ccd7.4013",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "adairy",
        "func": "global.set('adairy',msg.payload.adairy)\nreturn{payload:msg.payload.adairy}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "ab3084e5.e7a1d8",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "ed6e477c.0d7518",
        "type": "function",
        "z": "a219c882.1c6e28",
        "name": "aegoods",
        "func": "global.set('aegoods',msg.payload.aegoods)\nreturn{payload:msg.payload.aegoods}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "b9762661.1b6af8",
                "2f589382.64877c",
                "35a0c457.e7103c"
            ]
        ]
    },
    {
        "id": "68db31a2.6139a",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "1691a278.84a25e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "hgoods",
        "label": "Total Number of Goods",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "5ba8f482.bf0c7c",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "1691a278.84a25e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "hdairy",
        "label": "Number of Dairy Products",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "825dc96e.e67bf8",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "1691a278.84a25e",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "hegoods",
        "label": "Number of Electronic goods",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "222c96b8.26bcca",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "ae8237f.d82e2c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "agoods",
        "label": "Total Number of Goods",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "ab3084e5.e7a1d8",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "ae8237f.d82e2c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "adairy",
        "label": "Number of Diary Products",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "b9762661.1b6af8",
        "type": "ui_text",
        "z": "a219c882.1c6e28",
        "group": "ae8237f.d82e2c8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "aegoods",
        "label": "Number of Electronic Goods",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "ff7ef582.3db858",
        "type": "ibmiot",
        "name": "Iot_Sensor",
        "keepalive": "60",
        "serverName": "kbfeya.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "1691a278.84a25e",
        "type": "ui_group",
        "name": "Warehouse Management",
        "tab": "977076dd.f8c178",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae8237f.d82e2c8",
        "type": "ui_group",
        "name": "Warehouse Management",
        "tab": "6c00f085.ce3ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "977076dd.f8c178",
        "type": "ui_tab",
        "name": "Hyderabad Location",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c00f085.ce3ee",
        "type": "ui_tab",
        "name": "Adilabad Location",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]